<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.codebase.db_serise.mybatis.mappers.AppInfoMapper">
    <select id="selectOne" resultType="me.codebase.db_serise.mybatis.bean.AppInfo" parameterType="java.lang.String">
        select * from app_info where app_id = #{id}
    </select>
</mapper>